<!DOCTYPE html>
<html>
    <head>
        <title>Bookstore App</title>
    </head>

    <body>
		<a href="/">View Bookstore contents</a>
		</br>
        <h1>Update Bookstore</h1>
        <hr/>

        <h2 title="Add new author, or change name sequence/capitalization or date_of_birth">Add/Modify Author</h2>
        <form id="author_form" method="post" action="/add_author/">

	        {% csrf_token %}

            {% for hidden in author_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in author_form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="create_author" value="Create Author" />
        </form>
		<hr/>

        <h2>Add Publisher</h2>
        <form id="publisher_form" method="post" action="/add_publisher/">

	        {% csrf_token %}

            {% for hidden in publisher_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in publisher_form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="create_publisher" value="Create Publisher" />
        </form>
		<hr/>

        <h2>Add Book</h2>
        <form id="book_form" method="post" action="/add_book/">

	        {% csrf_token %}

            {% for hidden in book_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in book_form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="create_book" value="Create Book" />
        </form>
		<hr/>

    </body>

</html>