<!DOCTYPE html>
<html>
    <head>
        <title>Books</title>
        <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
        </style>
    </head>

    <body>
		<a href="/add/">Update Bookstore</a>
		</br>
		</br>
		<a href="/api/">Bookstore REST API</a>
		</br>
		</br>
		<a href="/admin/">Site Administration</a>
		</br>
		</br>
        <h1>List of Books</h1>

    <table>
        <tr>
            <th><a title="sort" href="?order_by=book_id">Id</a></th>
            <th><a title="sort" href="?order_by=title">Title</a></th>
            <th>Authors</th>
            <th><a title="sort" href="?order_by=publisher">Publisher</a></th>
            <th><a title="sort" href="?order_by=date">Date of issue</a></th>
            <th><a title="sort" href="?order_by=librarian">Librarian</a></th>
        </tr>
        {% for book in book_list %}
            <tr>
                <td>{{ book.book_id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.dump_authors_names }}</td>
                <td>{{ book.publisher.title }}</td>
                <td>{{ book.date }}</td>
                <td>{{ book.librarian.username }}</td>
            </tr>
        {% endfor %}
    </table>

    </body>

</html>